* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

.container {
  padding: 15px;
}

.submit-btn { 
  background: #000 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.error-txt {
  color: #f44336;
}