* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

.container {
  padding: 15px;
}

.submit-btn {
  background: #000 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.error-txt {
  color: #f44336;
}

.success-txt {
  color: #62b59e;
}

/* Logo Fade In on Mobile */

@media(max-width: 545px) {
  .fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
}

